@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* basic css reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// $background-color: #f8f0df;
// $accent-color: #79b4b7;
// $accent-color-hover: hsl(183, 30%, 40%);
// $danger-color: #d885a3;
// $dark-color: #9d9d9d;
// $light-color: #fefbf3;
// $text-contrast-with-light-color: #3d3d3d;

:root {
  --bakground-color: #f8f0df;
  --accent-color: #79b4b7;
  --accent-color-lighter: #deeced;
  --accent-color-hover: #478285;
  --danger-color: #d885a3;
  --danger-color-hover: hsl(338, 52%, 48%);
  --dark-color: #9d9d9d;
  --light-color: #fefbf3;
  --text-contrast-with-light-color: #3d3d3d;
  --text-contrast-with-danger-color: #000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bakground-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-family: "Source Sans Pro", sans-serif;
}

.action-button {
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .header-title {
    user-select: none;
  }

  .add-new-item {
    --padding-horizontal: 3em;
    --margin-bottom: 1.3em;

    --fields-padding-vertical: 0.45em;
    --fields-padding-horizontal: 0.8em;
    --fields-margin-bottom: 0.5em;
    --fields-container-padding-right: 1em;
    --fields-border-radius: 5px;
    --fields-font-size: 1.2em;

    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    margin-bottom: var(--margin-bottom);

    .fields {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: var(--fields-container-padding-right);
      width: 100%;

      .new-item-field {
        width: auto;
        padding-top: var(--fields-padding-vertical);
        padding-bottom: var(--fields-padding-vertical);
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
        border: 0;
        padding-left: var(--fields-padding-horizontal);
        padding-right: var(--fields-padding-horizontal);
        border-radius: var(--fields-border-radius);
        font-family: "Source Sans Pro", sans-serif;
        font-size: var(--fields-font-size);
        box-sizing: border-box;
        color: var(--text-contrast-with-light-color);
        &:focus {
          outline: none !important;
          border: 2px solid var(--dark-color);
        }
      }
    }
    .add-item-btn-container {
      --btn-max-width: 5em;
      --btn-line-height: 0.2rem;
      --btn-border-radius: 5px;
      --btn-font-size: 1.8em;
      --btn-padding-vertical: 0.8em;
      --btn-padding-horizontal: 0.5em;

      align-self: center;
      max-width: var(--btn-max-width);
      width: 100%;

      display: flex;
      justify-content: center;
      .add-item-btn {
        background-color: var(--accent-color);
        color: var(--light-color);
        border: 0;
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
        border-radius: var(--btn-border-radius);
        font-size: var(--btn-font-size);
        padding-top: var(--btn-padding-vertical);
        padding-bottom: var(--btn-padding-vertical);
        padding-left: var(--btn-padding-horizontal);
        padding-right: var(--btn-padding-horizontal);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all ease 0.2s;

        i {
          padding: 0;
          line-height: var(--btn-line-height);
        }

        &:hover {
          background-color: var(--accent-color-hover);
          cursor: pointer;
        }
      }
    }
  }
  .folder-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    // background-color: red;
    width: 100%;
    height: 100%;

    .folder-item {
      --border-width: 0.6px;
      --padding-horizontal: 2em;
      --height: 4em;
      --folder-name-font-size: 1.3em;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      text-decoration: none;
      color: var(--text-contrast-with-light-color);

      width: 100%;
      height: var(--height);
      background-color: var(--light-color);
      border: var(--border-width) solid var(--dark-color);
      padding-left: var(--padding-horizontal);
      padding-right: var(--padding-horizontal);
      font-family: "Source Sans Pro", sans-serif;
      transition: all ease 0.1s;
      h2 {
        font-size: var(folder-name-font-size);
        font-weight: 600;
        margin: 0;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: var(--accent-color-lighter);
        cursor: pointer;
      }
    }
  }
}

.error-page {
  --padding-horizontal: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);

  .go-to-main {
    color: var(--text-contrast-with-light-color);
    font-weight: bold;
    font-size: 1.5em;
  }
}

.folder-page {
  --padding-horizontal: 1.5em;
  --padding-vertical: 1.5em;
  --icon-height: 65%;
  max-width: 768px;
  .back-to-main {
    width: 100%;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: var(--padding-vertical);

    display: flex;
    justify-content: space-between;
    align-items: center;
    .link {
      text-decoration: none;
      text-align: left;
      color: var(--text-contrast-with-light-color);
      font-size: 1.4em;
      line-height: 1.4em;

      &:hover {
      }
      i {
        height: var(--icon-height);
        font-size: 0.8em;
        margin-right: 0.75em;
        vertical-align: middle;
      }
    }
    .delete-folder {
      background-color: var(--danger-color);

      width: 3em;
      height: 3em;
      border: 0;
      box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
      border-radius: 5px;

      &:hover {
        background-color: var(--danger-color-hover);
        transition: all ease 0.2s;
        cursor: pointer;
        i {
          // color: var(--light-color);
        }
      }
      i {
        color: var(--text-contrast-with-danger-color);
        font-size: 1.5em;
      }
    }
  }
  .folder-title {
    --icon-font-size: 0.6em;
    --icon-height: 90%;

    width: 100%;
    text-align: center;
    padding-top: 1.5em;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
    i {
      height: var(--icon-height);
      font-size: var(--icon-font-size);
      vertical-align: middle;
      &:hover {
        cursor: pointer;
      }
    }

    .edit-folder {
      --padding-horizontal: 2em;

      display: flex;
      width: 100%;
      justify-content: center;
      padding-left: var(--padding-horizontal);
      padding-right: var(--padding-horizontal);
      input {
        font-size: 2em;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
        font-family: "Source Sans Pro", sans-serif;
        width: 100%;
        margin-right: 0.5em;
        &:focus {
          outline: none !important;
          border: 2px solid var(--dark-color);
        }
      }
      button {
        background-color: var(--accent-color-hover);
        color: var(--light-color);
        border: 0;
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.534);
        transition: all ease 0.2s;
        width: 5em;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 0.5em;
        padding-bottom: 0.5em;
        &:hover {
          background-color: var(--accent-color);
          cursor: pointer;
        }
        i {
          font-size: 2em;
        }
      }
    }
  }
  .add-todo {
    --fields-container-padding-right: 1em;
    --fields-padding-vertical: 0.45em;
    --fields-padding-horizontal: 0.8em;
    --fields-border-radius: 5px;
    --fields-font-size: 1.2em;

    width: 100%;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    margin-top: var(--padding-vertical);
    display: flex;
    justify-content: space-between;
    .fields {
      width: 100%;
      padding-right: var(--fields-container-padding-right);
      input {
        width: 100%;
        padding-top: var(--fields-padding-vertical);
        padding-bottom: var(--fields-padding-vertical);
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
        border: 0;
        padding-left: var(--fields-padding-horizontal);
        padding-right: var(--fields-padding-horizontal);
        border-radius: var(--fields-border-radius);
        font-family: "Source Sans Pro", sans-serif;
        border-radius: var(--fields-border-radius);
        font-family: "Source Sans Pro", sans-serif;
        font-size: var(--fields-font-size);
        box-sizing: border-box;
        color: var(--text-contrast-with-light-color);
        &:focus {
          outline: none !important;
          border: 2px solid var(--dark-color);
        }
      }
    }
    .add-item-btn-container {
      --btn-max-width: 5em;
      --btn-line-height: 0.2rem;
      --btn-border-radius: 5px;
      --btn-font-size: 1.5em;
      --btn-padding-vertical: 0.8em;
      --btn-padding-horizontal: 0.5em;

      align-self: center;
      max-width: var(--btn-max-width);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      .add-item-btn {
        background-color: var(--accent-color);
        color: var(--light-color);
        border: 0;
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
        border-radius: var(--btn-border-radius);
        font-size: var(--btn-font-size);
        padding-top: var(--btn-padding-vertical);
        padding-bottom: var(--btn-padding-vertical);
        padding-left: var(--btn-padding-horizontal);
        padding-right: var(--btn-padding-horizontal);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all ease 0.2s;

        i {
          padding: 0;
          line-height: var(--btn-line-height);
        }

        &:hover {
          background-color: var(--accent-color-hover);
          cursor: pointer;
        }
      }
    }
  }
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.folder-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .edit-text {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: inherit;
    font-size: inherit;
  }
}

@media screen and (min-width: 768px) {
  .App {
    max-width: 768px;
    .add-new-item {
      --padding-horizontal: 0;

      height: 2.5em;
      .fields {
        --fields-padding-vertical: 0.3em;

        flex-direction: row;
        justify-content: space-between;
        .new-item-field {
          width: 100%;
          height: 100%;
        }
      }
      .add-item-btn-container {
        width: 3.5em;
        height: 2.5em;
        .add-item-btn {
          padding: 0;
        }
      }
    }
  }
  .folder-page {
    --padding-horizontal: 0;
    --icon-height: 60%;
  }
}
