@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* basic css reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$breakpoing-lg: 768px;

:root {
  --bakground-color: #f8f0df;
  --accent-color: #79b4b7;
  --accent-color-lighter: #deeced;
  --accent-color-hover: #478285;
  --danger-color: #d885a3;
  --danger-color-hover: hsl(338, 52%, 48%);
  --dark-color: #9d9d9d;
  --light-color: #fefbf3;
  --text-contrast-with-light-color: #3d3d3d;
  --text-contrast-with-danger-color: #000;

  --border-radius: 5px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bakground-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-family: "Source Sans Pro", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* LAYOUT */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-main-start {
  justify-content: flex-start;
}
.flex-main-center {
  justify-content: center;
}
.flex-main-end {
  justify-content: end;
}
.flex-main-evenly {
  justify-content: space-evenly;
}
.flex-main-between {
  justify-content: space-between;
}
.flex-cross-center {
  align-items: center;
}
.flex-cross-item-center {
  align-self: center;
}
.flex-cross-stretch {
  align-items: stretch;
}

/* WIDTH */
.full-width {
  width: 100%;
}
.full-width-lg {
  @media screen and (min-width: $breakpoing-lg) {
    width: 100%;
  }
}
.max-width-lg {
  @media screen and (min-width: $breakpoing-lg) {
    max-width: 768px;
  }
}
/* HEIGHT */
.full-height {
  height: 100%;
}

/* BORDER */
.no-border {
  border: 0;
}
.border-radius {
  border-radius: var(--border-radius);
}

/* MARGIN */
.no-margin {
  margin: 0;
}
/* PADDING */
.no-padding {
  padding: 0;
}
.no-padding-lg {
  @media screen and (min-width: $breakpoing-lg) {
    padding: 0;
  }
}

/* USER-EVENT */
.no-select {
  user-select: none;
}
.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

/* SHADOW */
.box-shadow-1 {
  box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
}
/* TRANSITIONS */
.transition-1 {
  transition: all ease 0.1s;
}
.transition-2 {
  transition: all ease 0.2s;
}

/* TEXT */
.font-source-sans {
  font-family: "Source Sans Pro", sans-serif;
}
.no-decoration {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

/* BACKGROUND COLORS */
.bg-color-accent {
  background-color: var(--accent-color);
}
.bg-color-danger {
  background-color: var(--danger-color);
}
.bg-color-accent-hover {
  background-color: var(--accent-color);
  &:hover {
    background-color: var(--accent-color-hover);
  }
}
.bg-color-danger-hover {
  background-color: var(--danger-color);
  &:hover {
    background-color: var(--danger-color-hover);
  }
}

.add-new-item {
  --padding-horizontal: 3em;
  --margin-bottom: 1.3em;

  --fields-padding-vertical: 0.45em;
  --fields-padding-horizontal: 0.8em;
  --fields-margin-bottom: 0.5em;
  --fields-container-padding-right: 1em;
  --fields-border-radius: 5px;
  --fields-font-size: 1.2em;

  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  margin-bottom: var(--margin-bottom);

  .fields {
    padding-right: var(--fields-container-padding-right);

    .new-item-field {
      padding-top: var(--fields-padding-vertical);
      padding-bottom: var(--fields-padding-vertical);
      padding-left: var(--fields-padding-horizontal);
      padding-right: var(--fields-padding-horizontal);
      font-size: var(--fields-font-size);
      box-sizing: border-box;
      color: var(--text-contrast-with-light-color);
      &:focus {
        outline: none !important;
        border: 2px solid var(--dark-color);
      }
    }
  }
  .add-item-btn-container {
    --btn-max-width: 5em;
    --btn-line-height: 0.2rem;
    --btn-border-radius: 5px;
    --btn-font-size: 1.8em;
    --btn-padding-vertical: 0.8em;
    --btn-padding-horizontal: 0.5em;

    max-width: var(--btn-max-width);

    .add-item-btn {
      color: var(--light-color);
      font-size: var(--btn-font-size);
      padding-top: var(--btn-padding-vertical);
      padding-bottom: var(--btn-padding-vertical);
      padding-left: var(--btn-padding-horizontal);
      padding-right: var(--btn-padding-horizontal);

      i {
        line-height: var(--btn-line-height);
      }
    }
  }
}
.folder-list {
  .folder-item {
    --border-width: 0.6px;
    --padding-horizontal: 2em;
    --height: 4em;
    --folder-name-font-size: 1.3em;

    color: var(--text-contrast-with-light-color);

    height: var(--height);
    background-color: var(--light-color);
    border: var(--border-width) solid var(--dark-color);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    h2 {
      font-size: var(folder-name-font-size);
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--accent-color-lighter);
    }
  }
}

.error-page {
  --padding-horizontal: 2em;

  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);

  .go-to-main {
    color: var(--text-contrast-with-light-color);
    font-weight: bold;
    font-size: 1.5em;
  }
}

.folder-page {
  --padding-horizontal: 1.5em;
  --padding-vertical: 1.5em;
  --icon-height: 65%;
  .back-to-main {
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: var(--padding-vertical);

    .link {
      color: var(--text-contrast-with-light-color);
      font-size: 1.4em;
      line-height: 1.4em;

      &:hover {
        color: var(--text-contrast-with-danger-color);
      }
      i {
        height: var(--icon-height);
        font-size: 0.8em;
        margin-right: 0.75em;
        vertical-align: middle;
      }
    }
    .delete-folder {
      width: 3em;
      height: 3em;

      i {
        color: var(--text-contrast-with-danger-color);
        font-size: 1.5em;
      }
    }
  }
  .folder-title {
    --icon-font-size: 0.6em;
    --icon-height: 90%;

    padding-top: 1.5em;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
    i {
      height: var(--icon-height);
      font-size: var(--icon-font-size);
      vertical-align: middle;
      &:hover {
        cursor: pointer;
      }
    }

    .edit-folder {
      --padding-horizontal: 2em;

      display: flex;
      width: 100%;
      justify-content: center;
      padding-left: var(--padding-horizontal);
      padding-right: var(--padding-horizontal);
      input {
        font-size: 2em;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.2);
        font-family: "Source Sans Pro", sans-serif;
        width: 100%;
        margin-right: 0.5em;
        &:focus {
          outline: none !important;
          border: 2px solid var(--dark-color);
        }
      }
      button {
        background-color: var(--accent-color-hover);
        color: var(--light-color);
        border: 0;
        box-shadow: 1px 4px 20px 0px rgba(157, 157, 157, 0.534);
        transition: all ease 0.2s;
        width: 5em;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 0.5em;
        padding-bottom: 0.5em;
        &:hover {
          background-color: var(--accent-color);
          cursor: pointer;
        }
        i {
          font-size: 2em;
        }
      }
    }
  }
  .add-todo {
    --fields-container-padding-right: 1em;
    --fields-padding-vertical: 0.45em;
    --fields-padding-horizontal: 0.8em;
    --fields-border-radius: 5px;
    --fields-font-size: 1.2em;

    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    margin-top: var(--padding-vertical);
    display: flex;
    justify-content: space-between;
    .fields {
      padding-right: var(--fields-container-padding-right);
      input {
        padding-top: var(--fields-padding-vertical);
        padding-bottom: var(--fields-padding-vertical);
        border: 0;
        padding-left: var(--fields-padding-horizontal);
        padding-right: var(--fields-padding-horizontal);
        font-size: var(--fields-font-size);
        box-sizing: border-box;
        color: var(--text-contrast-with-light-color);
        &:focus {
          outline: none !important;
          border: 2px solid var(--dark-color);
        }
      }
    }
    .add-item-btn-container {
      --btn-max-width: 5em;
      --btn-line-height: 0.2rem;
      --btn-border-radius: 5px;
      --btn-font-size: 1.5em;
      --btn-padding-vertical: 0.8em;
      --btn-padding-horizontal: 0.5em;

      max-width: var(--btn-max-width);
      .add-item-btn {
        color: var(--light-color);
        font-size: var(--btn-font-size);
        padding-top: var(--btn-padding-vertical);
        padding-bottom: var(--btn-padding-vertical);
        padding-left: var(--btn-padding-horizontal);
        padding-right: var(--btn-padding-horizontal);

        i {
          line-height: var(--btn-line-height);
        }
      }
    }
  }
}

.todo-list {
  margin-top: 2em;
}

.todo {
  --icon-font-size: 0.8em;
  --icon-height: 90%;

  background-color: var(--light-color);
  border: 0.6px solid var(--dark-color);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  p {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    i {
      height: var(--icon-height);
      font-size: var(--icon-font-size);
      vertical-align: middle;
      margin-left: 0.5em;
      &:hover {
        cursor: pointer;
      }
    }
  }
  --btn-padding-vertical: 0.8em;
  --btn-padding-horizontal: 0.5em;
  .delete-todo {
    width: 3em;
    height: 3em;

    padding-left: 1.1em;
    padding-right: 1.1em;
    i {
      color: var(--text-contrast-with-danger-color);
      font-size: 1.5em;
    }
  }
  .edit-text {
    margin-left: 1.5em;
    margin-right: 1.2em;
    padding-right: 1.5em;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  --btn-max-width: 5em;
  --btn-line-height: 0.2rem;
  --btn-border-radius: 5px;
  --btn-font-size: 1.5em;
  --btn-padding-vertical: 0.8em;
  --btn-padding-horizontal: 0.5em;
  .todo-btn {
    color: var(--light-color);
    font-size: var(--btn-font-size);
    padding-top: var(--btn-padding-vertical);
    padding-bottom: var(--btn-padding-vertical);
    padding-left: var(--btn-padding-horizontal);
    padding-right: var(--btn-padding-horizontal);
    margin-right: 0.5em;
    i {
      line-height: var(--btn-line-height);
      font-size: 0.9em;
    }

    &:disabled {
      background-color: var(--light-color);
      color: var(--danger-color);
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: 768px) {
  .add-new-item {
    --padding-horizontal: 0;

    height: 2.5em;
    .fields {
      --fields-padding-vertical: 0.3em;

      flex-direction: row;
      justify-content: space-between;
      .new-item-field {
        width: 100%;
        height: 100%;
      }
    }
    .add-item-btn-container {
      width: 3.5em;
      height: 2.5em;
      .add-item-btn {
        padding: 0;
      }
    }
  }
  .folder-page {
    --padding-horizontal: 0;
    --icon-height: 60%;
  }
}
